.app__dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 68px 30px;
  background-color: $background-white;
}

.dashboard {
  display: grid;
  grid-template-rows: 167fr 612fr;
  height: 100%;
  width: 100%;
  aspect-ratio: 1126 / 779;
  max-height: 585px;
  max-width: 847px;
  background-color: $background-white;

  &__title {
    font-size: 48px;
    font-weight: 500;
    margin: 0;
  }

  &__username {
    color: $primary-light;
  }

  &__subtitle {
    font-weight: 400;
  }

  &__content {
    max-height: 612px;
    width: 100%;
    min-height: 0;
    background-color: $background-white;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 29px;
  }

  &__performances {
    display: grid;
    grid-template-rows: 320fr 263fr;
    gap: 29px;
  }

  &__chart {
    border-radius: 6px;
    overflow: hidden;
    background-color: $background-grey;
  }

  &__charts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 29px;
  }

  &__card {
    border-radius: 5px;
    overflow: hidden;
    background-color: $background-grey;

    &--line,
    &--radar,
    &--radialBar {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--line {
      background-color: $primary-light;
    }

    &--radar {
      background-color: $neutral-800;
    }

    &--radialBar {
      background-color: $background-grey;
    }
  }

  &__nutrition {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 29px;
  }
}

.test {
  background-color: $background-black;
}
