$primary-light: #ff0101; // red
$primary-dark: #e60000; // darker red

$neutral-900: #20253a;
$neutral-800: #282d30;
$neutral-600: #74798c;
$neutral-400: #9b9eac;

$background-white: #ffffff;
$background-grey: #fbfbfb;
$background-black: #020203;
