@use '../../styles/abstracts/colors';

.performance-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 263px;
  background-color: colors.$neutral-800;

  &__tick {
    font-size: 12px;
  }

  &__tooltip {
    padding: 4px 6px;
    font-size: 8px;
    color: colors.$background-black;
    background: colors.$background-white;
  }
}
