// components
@use '../components/ActivityChart/activityChart';
@use '../components/SessionsChart/sessionsCard';
@use '../components/PerformanceChart/performanceChart';
@use '../components/ScoreChart/scoreChart';
@use '../components/NutritionCard/nutritionCard';

// layout
@use '../layout/appLayout';
@use '../components/Header/header';
@use '../components/Sidebar/sidebar';

// pages
@use '../pages/Dashboard/dashboard';

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;

  margin: 0 auto;
  min-width: 1024px;
  max-height: 780px;
}
