@use '../../styles/abstracts/colors';

.nutrition-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 258px;
  height: 124px;
  background: colors.$background-grey;

  @media (max-width: 1280px) {
    flex-direction: column;
    width: 193px;
    height: 100%;
    padding-bottom: 32px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 32px;
    border-radius: 6px;

    img {
      height: 20px;
    }

    &--calories {
      background-color: #ff01010f;
    }

    &--protéines {
      background-color: #4ab8ff1a;
    }

    &--glucides {
      background-color: #f9ce231a;
    }

    &--lipides {
      background-color: #fd51811a;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__value {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: colors.$neutral-800;
  }

  &__label {
    font-size: 14px;
    font-size: 500;
    margin: 0;
    color: colors.$neutral-600;
  }
}
